@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.woff") format("woff"),
  url("../assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Medium.woff") format("woff"),
  url("../assets/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Semibold.woff") format("woff"),
  url("../assets/fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.woff") format("woff"),
  url("../assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Extrabold.woff") format("woff"),
  url("../assets/fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/Onest-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/Onest-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/Onest-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/Onest-ExtraBold.woff") format("woff");
  font-weight: 800;
}
