.faq {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-bottom: 75px;
    text-align: center;
  }

  &__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #0176FE;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 27px 58px 0 40px;
    background-color: $light;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;

    &:hover {
      opacity: .7;
    }

    &--active {
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20), 0px 0px 32px -8px rgba(0, 0, 0, 0.12);
      cursor: auto;
      margin-bottom: 20px;

      &:hover {
        opacity: 1;
      }

      .faq__content {
        height: auto;
        padding: 30px 0 54px;
        opacity: 1;
        visibility: visible;
      }

      .faq__icon {
        transform: rotate(-45deg);
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 108.5%;
    text-transform: uppercase;
    color: $text-dark;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 31px;
  }

  &__content {
    height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    border-top: 1px solid #F8F8F8;
    transition: .2s linear;
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgba($text-dark, 0.75);
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .2s linear;
  }
}