.section {
  position: relative;

  &--dark {
    background-color: $text-dark;
  }

  &--invert {
    color: $light;
  }

  &--bg {
    position: relative;
    overflow: hidden;
  }

  &--blur {
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      display: flex;
      width: 100%;
      height: 100%;
      background: linear-gradient(181.36deg, rgba(26, 26, 26, 0) 17.46%, #1A1A1A 75.17%, #1A1A1A 98.85%);
      pointer-events: none;
      z-index: 2;
    }
  }

  &--animate {
    margin-top: -550px;
    z-index: 0;


    @include r(1200) {
      margin: 0;
      z-index: 1;
    }
  }
}
