.nav {
  display: flex;
  align-items: center;
  column-gap: 21px;

  &--footer {
    align-items: flex-start;
    column-gap: 50px;

    .nav__link {
      color: $light;
    }
  }

  &__link {
    font-size: 18px;
    color: $text-dark;

    &:hover {
      text-decoration: underline;
    }
  }
}