.rating {
  display: flex;
  align-items: center;
  column-gap: 8px;
  &__icon {
    display: flex;
    width: 40px;
    height: 40px;
    fill: $yellow;
  }

  &__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: $yellow;
  }
}