.rating {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  max-width: 175px;
  z-index: 1;

  @include r(1200) {
    padding: 22px 11px;
    max-width: 160px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(11px);
    z-index: 0;
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    z-index: 1;

    @include r(1200) {
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__icon {
    display: flex;
    width: 48px;
    height: 48px;
    fill: #FFCC16;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 152%; /* 24.32px */
    color: $light;
    text-align: right;
    z-index: 1;
  }
  &__number {
    font-size: 48px;
    font-weight: 500;
    line-height: 140%; /* 67.2px */
    color: $light;

    @include r(1200) {
      font-size: 28px;
    }
  }
}