.slider {
  display: flex;
  width: 100%;

  &--intro {
    position: absolute;
    right: 9px;
    top: -23px;
    margin-right: -10%;
    max-width: 765px;
  }

  &-pagination {
    position: static !important;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    min-width: 372px;
    height: 2px;
    background-color: #E3E3E3;
  }

  &-pagination__bullet {
    display: flex;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: transparent;
    transition: .2s linear;

    &--active {
      height: 4px;
      border-radius: 20px;
      background-color: $primary;
    }
  }
}

.swiper {
  height: min-content;
  @include r(1200) {
    overflow: visible !important;
    width: inherit;
  }

  &--full {
    position: relative;
    overflow: visible !important;

    .swiper-wrapper {
      max-width: 1170px;
    }

    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: .2s linear;
    }

    .slider__item--visible {
      opacity: 1;
      visibility: visible;
    }

    .swiper-slide-next {
      opacity: 1;
      visibility: visible;

      @include r(1200) {
        opacity: 0;
        visibility: hidden;
      }
    }

    .swiper-slide-prev {
      opacity: 0;
      visibility: hidden;
    }
  }

  &--auto {
    .swiper-slide {
      @include r(1200) {
        max-width: 272px;
      }
    }
  }

  &-pagination {
    bottom: -50px !important;
    pointer-events: none;

    &--light {
      .swiper-pagination-bullet {
        background-color: $light;
        opacity: 1;
        &-active {
          background-color: #0176FE;
        }
      }
    }
  }
}

.swiper--grid {
  @include rmin(1201) {
    margin: 0;
    width: 100%;

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, minmax(300px, 1fr));
      gap: 30px;
    }
  }
}

.swiper-tooltip {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
  z-index: 4;
  pointer-events: none;

  &--mobile {
    top: initial;
    bottom: -60px;
    transform: none;
    .button-slider {
      right: 0;
      &--prev {
        left: 0;
      }
    }
  }
}

.swiper-slide {
  max-width: 100%;

  &--auto {
    height: auto !important;
  }
}

.swiper-slide, swiper-slide {
  display: flex !important;
  height: auto !important;
}

.swiper-slide.swiper-slide--mob-hidden {
  grid-column: span 2;
  @include r(1200) {
    display: none !important;
  }
}

.swiper-toolbar {
  display: flex;
  align-items: flex-end;
  width: min-content;
  margin: 43px 106px 0 auto;
  column-gap: 30px;
}

.swiper-pagination-count {
  min-width: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  color: #B5B5B5;
  text-align: center;
}

.slider__icon {
  display: flex;
  width: 15px;
  height: 15px;
  fill: $light;
}

