.d-circle {
  position: absolute;
  width: 18%;
  height: 349px;
  transform: rotate(-124.492deg);
  flex-shrink: 0;
  border-radius: 349.001px;
  pointer-events: none;
  z-index: 0;

  &--blue {
    background: var(--unnamed, linear-gradient(162deg, #0FF 0%, #0075FF 100%));
    filter: blur(125px);
  }

  &--green {
    background: var(--unnamed, linear-gradient(132deg, #02E88D 0%, #84E3E9 100%));
    filter: blur(100px);
  }

  &:nth-child(1) {
    top: 80px;
    left: 300px;
  }
  &:nth-child(2) {
    left: 20px;
    bottom: 190px;
  }
  &:nth-child(3) {
    right: 150px;
    bottom: 450px;
  }
  &:nth-child(4) {
    right: 70px;
    bottom: 230px;
  }
  &:nth-child(5) {
    left: 880px;
    bottom: 420px;
  }
}

.decor--partners {
  .d-circle {
    &:nth-child(1) {
      top: 80px;
      left: 300px;
    }
    &:nth-child(2) {
      left: 20px;
      bottom: -118px;
    }
    &:nth-child(3) {
      right: 150px;
      bottom: 0;
    }
    &:nth-child(4) {
      right: 70px;
      bottom: -300px;
    }
    &:nth-child(5) {
      left: 880px;
      bottom: -163px;
    }
  }
}