.form {
  display: flex;
  flex-direction: column;
  row-gap: 42px;

  &--footer {
    flex-direction: row;
    align-items: center;
    column-gap: 38px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__item {
    width: 270px;

    &:last-child {
      width: 370px;
    }
  }

  &__text {
    font-weight: 500;
    color: $light;
  }

  &__desc {
    max-width: 470px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $text-gray;
  }
}