.address {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  &__text {
    font-size: 18px;
    line-height: 20.5px;

    &--phone {
      display: flex;
      align-items: center;
      column-gap: 14px;
      font-weight: 500;
      &::before {
        content: '·';
        font-size: 22px;
        color: $green;
      }
    }
  }
}