// Colors
$light: #FFFFFF;
$blue: #0176FE;
$green: #2BE2A0;
$yellow: #F2C94C;
$gray: #F0F0F0;
$primary: #00FFFF;

// Colors Text
$text-dark: #1A1A1A;
$text-title: #191919;
$text-gray: #ADADAD;
$text-gray-dark: #BDBDBD;

// Fonts
$font-main: 'Onest', sans-serif;
$font-second: 'Montserrat', sans-serif;