<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section section--invert section--dark pt-130 pb-130" data-section-animate="">
    <div class="intro">
      <div class="container">
        <div class="intro-inner">
            <div class="intro-inner__info">
                <h1 class="intro-inner__title mb-50">
                    <span>Вы можете</span>
                    <span class="pl-100">стать нашим</span>
                    <span class="intro-inner__title-accent">партнером</span>
                </h1>
              <button class="button button--primary button--primary--animate">
                Хочу подключиться!
              </button>
            </div>
            <div class="intro-decor">
              <img class="intro-decor__img--1" src="./assets/images/partner-2.png" alt="" data-animate-invert data-animate="move">
              <img class="intro-decor__img--2" src="./assets/images/partner-1.png" alt="" data-animate-X data-animate="move">
              <div class="intro-decor__circle"></div>
              <div class="intro-decor__circle intro-decor__circle--big"></div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--bg pt-100 pb-200">
    <div class="container">
      <div class="feature-list">
        <div class="feature-list__item">
          <div class="feature-list__picture">
            <svg class="feature-list__icon">
              <use xlink:href="./assets/sprite/sprite.svg#icon-computer"></use>
            </svg>
          </div>
          <h3 class="feature-list__title">Заголовок</h3>
          <p class="feature-list__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          </p>
        </div>
        <div class="feature-list__item">
          <div class="feature-list__picture">
            <svg class="feature-list__icon">
              <use xlink:href="./assets/sprite/sprite.svg#icon-char"></use>
            </svg>
          </div>
          <h3 class="feature-list__title">Заголовок</h3>
          <p class="feature-list__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          </p>
        </div>
        <div class="feature-list__item">
          <div class="feature-list__picture">
            <svg class="feature-list__icon">
              <use xlink:href="./assets/sprite/sprite.svg#icon-laptop"></use>
            </svg>
          </div>
          <h3 class="feature-list__title">Заголовок</h3>
          <p class="feature-list__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          </p>
        </div>
        <div class="feature-list__item">
          <div class="feature-list__picture">
            <svg class="feature-list__icon">
              <use xlink:href="./assets/sprite/sprite.svg#icon-mobile"></use>
            </svg>
          </div>
          <h3 class="feature-list__title">Заголовок</h3>
          <p class="feature-list__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          </p>
        </div>
      </div>
    </div>
    <svg class="background-clip background-clip--down">
      <use xlink:href="./assets/sprite/sprite.svg#icon-bg"></use>
    </svg>
  </section>
  <section class="section section--dark pt-150 pb-70">
    <div class="container">
      <div class="feedback">
        <h3 class="feedback__title feedback__title--row">Я хочу подключить ваше приложение<br> и стать вашим партнером!</h3>
        <div class="form">
          <fieldset class="form__wrapper">
            <label class="form__item">
              <input class="input" type="text" placeholder="Имя" name="USER_NAME" required>
            </label>
            <label class="form__item">
              <input class="input" type="tel" placeholder="Телефон" name="USER_PHONE" required>
            </label>
            <label class="form__item">
              <input class="input" type="email" placeholder="E-mail" name="USER_EMAIL" required>
            </label>
          </fieldset>
          <fieldset class="form__wrapper">
            <p class="form__desc">
              Нажимая кнопку Отправить заявку, Вы даете согласие на получение сервисных и рекламных сообщений о
              Программном обеспечении Оператора и продуктах/услугах его Партнеров, согласие на обработку персональных
              данных и соглашаетесь с политикой обработки персональных данных
            </p>
            <button class="button" type="submit">Хочу подключиться!</button>
          </fieldset>
        </div>
      </div>
    </div>
    <svg class="background-clip background-clip--top">
      <use xlink:href="./assets/sprite/sprite.svg#icon-bg"></use>
    </svg>
    <div class="decor decor--partners">
      <div class="d-circle d-circle--blue"></div>
      <div class="d-circle d-circle--green"></div>
      <div class="d-circle d-circle--blue"></div>
      <div class="d-circle d-circle--green"></div>
      <div class="d-circle d-circle--green"></div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>