.button {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 22px 42px;
  border-radius: 10px;
  min-width: 200px;

  font-weight: 600;
  font-size: 18px;
  color: $light;
  text-align: center;
  background-color: $text-dark;

  cursor: pointer;
  z-index: 1;

  @include r(1200) {
    padding: 14px 45px;
  }

  &:hover {
    opacity: .7;
  }

  &--small {
    padding: 18px 34px;
    font-weight: 500;
    font-size: 16px;
  }

  &--primary {
    color: $text-dark;
    background-color: $primary;
    &--animate {
      &:hover {
        opacity: 1;
        &::before {
          animation: skewRotate 3s infinite alternate linear;
          opacity: 0.8;
        }
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background: $primary;
        mix-blend-mode: screen;
        opacity: 0.45;
        filter: blur(27.5px);
        border-radius: 10px;
        z-index: -1;
        transition: .2s linear;
      }
    }
  }

  &--small-gray {
    padding: 11px 31px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    border-radius: 10px;
    background: #838383;
  }

  &--gradient--blue {
    background: linear-gradient(162deg, #0FF 0%, #0075FF 100%);
  }
}

.button-slider {
  position: absolute;
  top: 0;
  right: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #0176FE;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity .2s linear;

  &:hover {
    opacity: .7;
  }

  &--prev {
    position: absolute;
    top: 0;
    right: initial;
    left: -70px;
    transform: rotate(-180deg);
  }
}

.slider__button--disabled {
  background-color: $light;
  pointer-events: none;
  &:hover {
    opacity: 1;
  }
  .slider__icon {
    fill: $text-dark;
  }
}

@keyframes skewRotate {
  from {
    transform: skew(0, 0) rotate(0deg);
  }
  25% {
    transform: skew(20deg, -5deg) rotate(-3deg);
  }
  75% {
    transform: skew(-20deg, 5deg);
  }
  to {
    transform: skew(0deg, 0deg) rotate(3deg);
  }
}
