.button {
  position: relative;
  display: flex;
  flex-shrink: 0;
  padding: 22px 50px;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;
  color: $light;
  background-color: $text-dark;

  cursor: pointer;
  z-index: 1;

  &:hover {
    opacity: .7;
  }

  &--small-gray {
    padding: 11px 31px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    border-radius: 10px;
    background: #838383;
  }

  &--gradient {
    color: $text-dark;

    &:hover {
      opacity: 1;
    }

    &--green {
      background: linear-gradient(100.59deg, #02E88D -1.46%, #84E3E9 92.56%);
    }

    &--animate {
      &-green {
        &:hover {
          &::before {
            animation: skewRotate 3s infinite alternate linear;
            opacity: 0.8;
          }
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: flex;
          width: 100%;
          height: 100%;
          background: linear-gradient(100.59deg, #02E88D -1.46%, #84E3E9 92.56%);
          mix-blend-mode: screen;
          opacity: 0.45;
          filter: blur(27.5px);
          border-radius: 10px;
          z-index: -1;
          transition: .2s linear;
        }
      }
    }

    &--blue {
      background: linear-gradient(100.21deg, #00FFFF -19.34%, #0075FF 82.01%);
      border-radius: 10px;
    }
  }
}

@keyframes skewRotate {
  from {
    transform: skew(0, 0) rotate(0deg);
  }
  25% {
    transform: skew(20deg, -5deg) rotate(-3deg);
  }
  75% {
    transform: skew(-20deg, 5deg);
  }
  to {
    transform: skew(0deg, 0deg) rotate(3deg);
  }
}