.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  &__item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background: #FFF;
    overflow: hidden;
    width: 100%;

    &--invert {
      .data__total {
        text-align: right;
      }
      .data__icon {
        transform: rotateX(180deg);
      }
      .data__text--after {
        left: 0;
        right: initial;
      }
      .data__text {
        text-align: right;
      }
    }

    @include r(1200) {
      padding: 15px 30px 15px 15px;
    }
  }

  &__title {
    margin-bottom: 27px;
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 500;
    line-height: 152%; /* 27.36px */

    @include r(1200) {
      font-size: 16px;
    }
  }

  &__text {
    @include r(1200) {
      font-size: 14px;
    }
    &--after {
      position: absolute;
      right: 12px;
      bottom: 34px;

      @include r(1200) {
        right: 4px;
        bottom: 52px;
      }
    }
  }

  &__total {
    color: #0176FE;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; /* 28.8px */

    &--color-green {
      color: #02E88D;
    }
  }

  &__graph {
    position: relative;
    margin-top: auto;
  }

  &__icon {
    display: flex;
    width: 100%;
  }
}
