.footer-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 22px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include r(1200) {
      align-items: flex-start;
      flex-direction: column-reverse;
    }
  }
}
