.intro-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  &__title {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 100px;
    line-height: 89px;
    &-accent {
      color: $primary;
    }
  }

  &__description {
    max-width: 470px;
    margin-bottom: 50px;
    font-size: 20px;
    color: $light;
  }
}