.intro-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  @include r(1200) {
    height: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-family: 'Onest', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 108.5%;
    color: $light;

    @include r(1200) {
      font-size: 24px;
      text-align: center;
    }

    @include r(355) {
      margin-bottom: 10px;
    }

    &-accent {
      color: $primary;
    }
  }

  &__description {
    margin-bottom: 87px;
    font-size: 20px;
    font-weight: 400;
    color: $light;

    @include r(1200) {
      font-size: 18px;
      text-align: center;
    }
    @include r(374) {
      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include r(1200) {
      align-items: center;
      width: 100%;
    }
  }

  .button {
    @include r(1200) {
      margin-top: auto;
      font-size: 16px;
    }
  }
}
