.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 65px 100px 63px;
  background-color: $light;
  border-radius: 32px;
  z-index: 2;

  @include r(1200) {
    padding: 24px 28px;
  }

  .button {
    @include r(1200) {
      width: 100%;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 88px;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: $text-dark;

    @include r(1200) {
      font-size: 24px;
    }

    &--row {
      margin-bottom: 53px;
      @include r(1200) {
        margin-bottom: 16px;
      }
    }
  }
}
