.partner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @include r(1200) {
    flex-direction: column;
    gap: 50px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 34px;

    @include r(1200) {
      width: 100%;
    }
  }
  &__text {
    max-width: 470px;
    font-size: 16px;
    font-weight: 300;
    line-height: 152%;
    color: #1A1A1A;

    @include r(1200) {
      max-width: 100%;
    }
  }
  &__picture {
    position: relative;
    &::before {
      position: absolute;
      top: -63px;
      left: -68px;
      content: '';
      display: flex;
      width: 265px;
      height: 142px;
      background-image: url('../assets/images/icon-cloud-1.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: rotate(-20deg);
      z-index: -1;

      @include r(1200) {
        top: -36px;
        left: 0;
        width: 150px;
        height: 81px;
      }
    }
    &::after {
      position: absolute;
      bottom: 19px;
      right: -42px;
      content: '';
      display: flex;
      width: 291px;
      height: 147px;
      background-image: url('../assets/images/icon-cloud-2.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      transform: rotate(-20deg);
      @include r(1200) {
        bottom: 10px;
        right: 0;
        width: 165px;
        height: 83px;
      }
    }
  }
}
