.show-more {
  display: flex;
  align-items: center;
  column-gap: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #C5C5C5;

  &:hover {
    opacity: .7;
  }

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
  }
}