.article-reviews {
  padding: 57px 57px 32px;
  background-color: $light;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1E1E1E;
    opacity: 0.75;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2B2B2B;
  }
  &__author {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $primary;
  }

  &__company {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #696969;
  }

  &__rating {
    margin-left: auto;
  }
}