.article-rating {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &--call {
    background-image: url('../assets/images/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &--app {
    .article-rating__info {
      margin-left: auto;
      flex-shrink: 0;
    }
  }
  &__picture {
    position: absolute;
    top: -52px;
    left: -41px;
    height: 244px;
  }
  &__text {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 27px;
    color: $text-gray-dark;
  }
}