.article-benefits {
  &--big {
    padding: 70px;
  }

  &__picture {
    width: 68px;
    height: 68px;
    margin-bottom: 25px;
    transition: .3s linear;
    opacity: 0;
    &.focused {
      .article-benefits__picture--first {
        opacity: 1;
        transition-delay: .2s;
      }
      .article-benefits__picture--second {
        opacity: 1;
        transition-delay: .5s;
      }
      .article-benefits__picture--third {
        opacity: 1;
        transition-delay: .7s;
      }
      .article-benefits__picture--first {
        opacity: 1;
        transition-delay: .2s;
      }
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $blue;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
  }
}